.Button {
  background-color: transparent;
  color: white;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
}

.Success {
  color: #84c278;
  border: #84c278 1px solid;
}

.Danger {
  color: #ff7866;
  border: #ff7866 1px solid;
}

.Success:hover {
  color: white;
  background: #84c278;
}

.Danger:hover {
  background: #ff7866;
  color: white;
}

.Disabled {
  color: white;
  border: #6b6b6b 1px solid;
  background: #a1a1a1;
}
