.Spinner {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Tasks {
  width: 100%;

  display: flex;

  margin: 0 auto;

  .List {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
