@import "../../../sass/input";

.Input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.InputElement {
  @extend %input;
}

.Invalid {
  border: #ff6161 solid 1px;
  background: #ff9191;
  color: #ffe6e6;
}

.Invalid:hover,
.Invalid:focus {
  border: #ff6161 solid 1px;
  background: #ff9191;
  color: #ffe6e6;
}

input:focus,
input:hover {
  border: #ffd761 solid 1px;
  background: #fff7cc;
}

.Select {
  padding: 5px 10px;
  border-radius: 5px;
}

.TextArea {
  height: 150px;

  padding: 10px 15px;
  outline: none;

  resize: none;
}

.TextArea:focus,
.TextArea:hover {
  border: #ffd761 solid 1px;
  background: #fff7cc;
}
