.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover, .NavigationItem a:active, .NavigationItem a.active {
    color: white;
    background: #ffc466;
    border-bottom: 4px solid #49aabf;
}

@media (max-width: 499px) {
    .NavigationItem {
        display: block;
    }
    .NavigationItem a {
        color: #b08f3a;
    }
    .NavigationItem a:hover, .NavigationItem a:active, .NavigationItem a.active {
        color: #49aabf;
        background: #f5e1ae;
        border-bottom: 4px solid transparent;
    }
}