.Item {
  padding: 0 10px;

  .Main {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    padding-left: 1rem;

    transition: all 0.2s linear;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      background-color: rgba(#e0e0e0, 0.5);
    }

    .ArrowContainer {
      display: flex;
      align-items: center;
      padding: 0 2px;

      background-color: #e0e0e0;

      .Arrow {
        height: 12px;
        width: 12px;

        background: url("../../assests/icons/down-arrow.svg") center;

        transition: all 0.2s linear;
        transform: rotate(0deg);
      }
    }
  }

  .List {
    height: 0;

    .Users {
      height: 150px;

      background: white;

      overflow: auto;

      .User {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #e0e0e0;

        z-index: 200;
        cursor: pointer;

        &:hover {
          background-color: rgba(#e0e0e0, 0.5);
        }
      }
    }
  }
}
